<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- NO SE CONECTA CON INICIO!!!!! -->
    <link rel="shortcut icon" href="img/flavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/renta.css">
    <link rel="stylesheet" href="css/renta_table.css">
    <title>Renta</title>
</head>

<body>
    <header class="cabecera">
        <div class="m">

            <img id="logo" src="img/iconoJ.png" alt="logo">

            <!-- <span class="s1">Vintage Wheels</span> -->

        </div>

        <div class="centrado">

            <section class="menu-section">

                <nav id="menu">
                    <ul>
                        <li id="#"><a href="index.html">Inicio</a></li>
                        <li id="#"><a href="galeria.html">Galeria</a></li>
                        <li id="#"><a href="blog.html">Blog</a></li>
                        <li id="#"><a href="contacto.html">Contacto</a></li>

                    </ul>
                </nav>
            </section>

        </div>
    </header>

    <div class="contenedor">

        <div id="app" class="contenedor-blog">

            <div class="blog_table">
                
                <section>

                    <h1>Renta de Vehículos Vintage</h1>
                    <h2>Listado de vehículos disponibles para renta (costo x día)</h2>

                    <table class="estilos-tabla">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Vehiculo</th>
                                <th>Costo Renta</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="vehiculo in vehiculos">
                                <td><a :href=vehiculo.imagen target="_blank" onClick="window.open(this.href, this.target, 'width=900,height=600'); return false;"><img :src=vehiculo.imagen alt="" width="75" height="50"></a></td>
                                <td>Marca: {{vehiculo.marca}}<br/>Modelo: {{vehiculo.modelo}}<br/>Año: {{vehiculo.anio}}</td>
                                <td>$&nbsp;{{vehiculo.precio.toLocaleString()}}</td>
                                <td v-if="vehiculo.renta==true" class="si_option">DISPONIBLE</td>
                                <td v-else class="no_option">ALQUILADO</td>
                            </tr>
                        </tbody>
                    </table>

                </section>

            </div>

        </div>
        
    </div>

    <footer>
        <div id="datos">
            <p>Solís 1174 (1078). CABA</p>
            <P>Celular: 011-5689-6353</P>
            <p>Email: <a href="mailto:vintage.wheels@gmail.com">vintage.wheels@gmail.com</a></p>
            

            <nav id="redes">
                    
                    <ul>
                        <li><a href="#"><img src="icon/icoF.png" alt="facebook"></a></li>
                        <li><a href="#"><img src="icon/icoG.png" alt="googleplus"></a></li>
                        <li><a href="#"><img src="icon/icoInst.png" alt="instagram"></a></li>
                        <li><a href="#"><img src="icon/icoP.png" alt="pinterest"></a></li>
                        <li><a href="#"><img src="icon/iconVm.png" alt="vimeo"></a></li>
                        <li><a href="#"><img src="icon/icoyt.png" alt="youtube"></a></li>
                        
                    </ul>
            </nav>       
                
            
        </div>           
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/renta.js"></script>
    
</body>

</html>